@import 'custom-colors.scss';

.list {
    word-break: break-all;
    &__header {
        color: rgb(206, 206, 206);
    }
    &__add-btn{
        color: $white-color;
        background-color: $red-color;
        &:hover {
            background-color: $main-dark-color;
            transition:0.3s;
            color: $white-color;
        }
    }
    &__iconBtn {
        cursor: pointer;
        color: $red-color;
        &:hover {
            transition: 0.5s;
            color: rgb(184, 41, 41);
        }
    }
}

.form-label {
    font-size: 0.9rem;
}

.form-select {
    font-size: 0.9rem;
}

.priorityInputs {
    margin-left: 10px;
    font-size: 0.9rem;
}

.tableCell {
    max-width: calc(100%/5);
    word-break: break-all;
}

.bookProp {
    white-space: nowrap;
    &:hover {
        color: $red-color;
        transition: 0.5s;
        cursor: pointer;
    }

    &:hover > i {
        visibility:visible;
    }
    &__icon--hidden {
        visibility: hidden;
    }
}

.downloadBtn {
    color: $white-color;
    font-size: 0.9rem;
    cursor: pointer;
    &:hover {
        transition: 0.3s;
        color: $red-color;
    }
}
